<nav class="navbar navbar-expand-lg navbar-light bg-light" id="topo" style="position: sticky; top: 0; z-index: 999;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="margin-right: 10px;">FogaçaMotors</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"  role="toolbar" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link btn btn-outline-success" href="#" style="margin-right: 10px;">Cadastre-se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-danger" href="#"style="margin-right: 10px;">Venda Sua Moto Aqui!</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin-right: 10px;">
              Mais
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
              <li><a class="dropdown-item" href="#">Sua Compra</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">História</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www3.yamaha-motor.com.br/file/v4938551023180158726/products/30039.faixa3.detalhe.desktop.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>AVANÇAR REPENSAR TRANSFORMAR</h5>
          <p>A Yamaha, que nasceu fabricando instrumentos musicais e tem a arte em seu DNA, acredita que as pessoas são incríveis, inspiradoras e têm a arte dentro delas. Por isso, busca oferecer produtos e soluções que despertem emoções.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www3.yamaha-motor.com.br/file/v2306145036591555139/products/30022.faixa3.detalhe.desktop.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>ARTE PARA POSSIBILIDADES HUMANAS</h5>
          <p>Ao expandir as possibilidades humanas, a Yamaha pretende alcançar um crescimento sustentável e criar uma sociedade melhor e mais feliz.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www3.yamaha-motor.com.br/file/v637356709476613935/products/30037.faixa3.detalhe.desktop.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>NOSSO LEGADO</h5>
          <p>Estamos presentes em cerca de 200 países e fabricamos uma vasta gama de soluções como: motos para neve, quadriciclos, carros de golfe, bicicletas elétricas, piscinas, geradores, helicóptero de controle remoto, dentre outros.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container" style="margin-top:30px;">
    <div class="row justify-content-between">
      <div style="border: 2px solid black; border-radius: 15px; height: 94%; padding: 10px 0 30px 0;" class="col-3">
        <img src="https://www3.yamaha-motor.com.br/file/products/30000.BL5600010A.condicao.desktopp.jpg" width="100%" alt="">
        <button type="button" style="width: 100%;" class="btn btn-danger">Comprar</button>
      </div>
      <div style="border: 2px solid black; border-radius: 15px; height: 94%; padding: 10px 0 30px 0;" class="col-3">
        <img src="https://www3.yamaha-motor.com.br/file/products/30017.2RPC00010B.condicao.desktop.jpg" width="100%" alt="">
        <button type="button" style="width: 100%;" class="btn btn-danger">Comprar</button>
      </div>
      <div style="border: 2px solid black; border-radius: 15px; height: 94%; padding: 10px 0 30px 0;" class="col-3">
        <img src="https://www3.yamaha-motor.com.br/file/products/30022.B6S500010B.condicao_new.desktop.jpg" width="100%" alt="">
        <button type="button" style="width: 100%;" class="btn btn-danger">Comprar</button>
      </div>
    </div>
   
    <div class="d-flex flex-column" style="margin-top:30px;">
      <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container text-center">
          <small>Copyright &copy; Todos os Direitos Garantidos</small>
        </div>
      </footer>
    </div>